html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.qr-code {
    transition: 0.3s ease;
}

.profile-photo {
    width: 256px;
    border-radius: 10px;
}

.user-info {
    display: grid;
    grid-template-columns: auto minmax(0, 256px);
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10px 0;
}

.user-info.without-avatar {
    display: grid;
    grid-template-columns: 512px;
}

.user-info table {
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    border-style: hidden;
    box-shadow: 0 0 0 1px #dee2e6;
    min-width: 256px;
    min-height: 256px;
}

.user-info th,
.user-info td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.user-info th {
    background-color: #f2f2f2;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.blurred {
    backdrop-filter: blur(5px);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: 0.3s ease;
}

.empty {
    color: #c4c4c4;
    pointer-events: none;
}

.premium-star {
    transition: transform 0.5s ease;
}

.premium-star:hover {
    transform: rotate(360deg);
}

.username {
    text-decoration: none;
}

@media (max-width: 600px) {
    .user-info {
        grid-template-columns: none;
        grid-template-rows: auto auto;
        gap: 10px;
        margin: 5px 0;
    }
}
